{% extends "bootstrap/base.html" %}
{% block title %}
Britecore Features Application
{% endblock title %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Britecore Feature Requests Application</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/create_feature"class="btn btn-success">Create New Feature</a></li>
                    <li><a href="/" class="btn btn-link">View Features</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
{% endblock navbar %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" href="{{url_for('static', filename='css/site.css') }}">
{% endblock %}

<div class="container">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; 2018. <a href="mailto:aitoehigie@gmail.com">Ehigie Aito</a></p>
        </footer>
</div>


{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>    
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<script src="{{url_for('static', filename='js/knockout.min.js')}}"></script>
<script src="{{url_for('static', filename='js/moment.js')}}"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
{{super()}}
{% endblock %}
