[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
flask = "*"
pydotenv = "*"
python-dotenv = "*"
flask-bootstrap = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-admin = "*"
flask-wtf = "*"
flask-table = "*"
flask-script = "*"
foreman = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.7"
